@import "nav.css";
@import "tips.css";

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

 
 .fishList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
} 

.fish__image {
    width: 5cm;
    height: 5cm;
} 

body {background-color: rgb(179, 255, 0);}

.bordered {
    display: flex;
    border-style: double;
    padding: auto;
}

.bordered2 {
    border: solid;
}

 .fish {
     margin: auto;
} 